<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Car</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <header id="header">
      <!-- navbar section -->
      <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#"> Rent Car</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- offcanvas sidebar -->
          <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div class="offcanvas-header">
              <h5 class="fw-bold">Rent Car</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>

            <div class="offcanvas-body">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item mt-2">
                  <a class="nav-link" href="#">Our Service</a>
                </li>
                <li class="nav-item mt-2">
                  <a class="nav-link" href="#">Why Us</a>
                </li>
                <li class="nav-item mt-2">
                  <a class="nav-link" href="#">Testimonial</a>
                </li>
                <li class="nav-item mt-2">
                  <a class="nav-link" href="#">FAQ</a>
                </li>
                <li class="nav-item mt-2">
                  <button class="btn btn-success">Register</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main id="main">
      <section class="main-section">
        <div class="container pt-md-5 pt-sm-3">
          <div class="row align-items-center">
            <div class="col-md-6 py-5">
              <h1 class="fw-bold">
                Sewa & Rental Mobil Terbaik di kawasan Surabaya
              </h1>
              <p class="mt-4">
                Selamat datang di Binar Car Rental. Kami menyediakan mobil
                kualitas terbaik dengan harga terjangkau. Selalu siap melayani
                kebutuhanmu untuk sewa mobil selama 24 jam.
              </p>
              <button class="btn btn-success mt-4" href="/car.html" hidden>
                Mulai Sewa Mobil
              </button>
            </div>
            <div
              class="col-md-6 py-5 d-flex align-items-center justify-content-start"
              id="car-img"
            >
              <div class="bg-car"></div>
              <img
                src="./images/car.svg"
                class="w-100"
                alt="car"
                id="img-car"
              />
            </div>
          </div>
        </div>
      </section>
      <section id="search" style="position: relative">
        <div class="container mt-3">
          <form action="/search" method="get" id="search-form">
            <div
              class="row row-cols-1 row-cols-sm-5 g-2 gx-sm-3 align-items-end p-3 p-sm-4 rounded-2 shadow p-3 mb-5 bg-body rounded"
              style="margin-top: -60px; z-index: 1"
            >
              <div class="col">
                <label for="tipeDriver" class="form-label">Tipe Driver</label>
                <select class="form-select mt-2" id="tipe-driver" required>
                  <option disabled selected hidden>Pilih Tipe Driver</option>
                  <option value="1">Dengan Sopir</option>
                  <option value="2">Tanpa Sope (Lepas Kunci)</option>
                </select>
              </div>
              <div class="col">
                <label for="tanggal" class="form-label">Tanggal</label>
                <input
                  id="tanggal"
                  class="form-control mt-2"
                  type="date"
                  name="date"
                  required
                />
              </div>
              <div class="col">
                <label for="waktuJemput" class="form-label"
                  >Waktu Jemput/Ambil</label
                >
                <select
                  name="time"
                  class="form-select mt-2"
                  id="waktuJemput"
                  required
                >
                  <option disabled selected hidden>Waktu Jemput / Ambil</option>
                  <option value="08:00">08.00 WIB</option>
                  <option value="09:00">09.00 WIB</option>
                  <option value="10:00">10.00 WIB</option>
                  <option value="11:00">11.00 WIB</option>
                  <option value="12:00">12.00 WIB</option>
                </select>
              </div>
              <div class="col">
                <label for="penumpang" class="form-label"
                  >Jumlah Penumpang</label
                >
                <input
                  type="number"
                  name="capacity"
                  class="form-control mt-2"
                  id="penumpang"
                  placeholder="4 Penumpang"
                  required
                />
              </div>
              <div class="col">
                <button
                  class="btn btn-success w-100"
                  type="submit"
                  id="submit-button"
                >
                  Cari Mobil
                </button>
              </div>
            </div>
          </form>
        </div>
      </section>

      <section id="result">
        <div class="container" id="container-card">
          <p>Jumlah mobil yang tersedia <%= cars.length %></p>
          <div class="row row-cols-1 row-cols-sm-4 gx-0 gx-3 gx-sm-3 gy-sm-3">
            <% cars.forEach(car => { %>
            <div class="col">
              <div class="col">
                <div class="card" style="min-height: 500px">
                  <img
                    src="<%=car.image %>"
                    alt="BMW"
                    class="card-img-top"
                    width="100px"
                    height="200px"
                  />
                  <div class="card-body">
                    <p class="card-text"><%= car.plate %></p>
                    <h5 class="card-title mt-3">
                      <%= car.rentPerDay %> / hari
                    </h5>
                    <p><%= car.description %></p>
                    <div class="d-flex">
                      <img
                        src="images/fi_users.svg"
                        width="20px"
                        height="20px"
                      />
                      <p class="ms-2"><%= car.capacity %></p>
                    </div>
                    <div class="d-flex">
                      <img
                        src="images/fi_settings.svg"
                        width="20px"
                        height="20px"
                      />
                      <p class="ms-2"><%= car.transmission %></p>
                    </div>
                    <div class="d-flex">
                      <img
                        src="images/fi_calendar.svg"
                        width="20px"
                        height="20px"
                      />
                      <p class="ms-2"><%= car.year %></p>
                    </div>
                    <button class="btn btn-success w-100">Pilih Mobil</button>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </section>
    </main>
    <footer id="footer">
      <section class="footer-section py-4 mt-5">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="address me-5">
                <p>Jalan Suroyo No. 161 Mayangan Kota Probolonggo 672000</p>
                <p>binarcarrental@gmail.com</p>
                <p>081-233-334-808</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="navigation">
                <p class="item-navigation">Our Service</p>
                <p class="item-navigation">why Us</p>
                <p class="item-navigation">Testimonial</p>
                <p class="item-navigation">FAQ</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="sosmed">
                <p>Connect with us</p>
                <div class="d-flex align-items-center">
                  <i class="bi bi-facebook" id="icon-facebook"></i>
                  <i class="bi bi-instagram" id="icon-instagram"></i>
                  <i class="bi bi-twitter" id="icon-twitter"></i>
                  <i class="bi bi-envelope-at-fill" id="icon-email"></i>
                  <i class="bi bi-twitch" id="icon-twitch"></i>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="copyright me-5">
                <p class="fw-semibold">Copyright Binar 2023</p>
                <div class="logo-copyright"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
